* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: var(--col5);
}

:root {
  --col1: #030114;
  --col2: #141429;
  --col3: #2a1c74;
  --col4: #0f969c;
  --col5: #c4eef8;
  --col6: #294D61;
}